APP_ENV=development
LOCAL_API_BASE_URL_ANDROID=http://192.168.0.232:5000
LOCAL_API_BASE_URL_IOS=http://192.168.0.232:5000
LOCAL_API_BASE_URL_DEFAULT=http://192.168.0.232:5000

PROD_API_BASE_URL_ANDROID=https://api.pakyaaa.online
PROD_API_BASE_URL_IOS=https://api.pakyaaa.online
PROD_API_BASE_URL_DEFAULT=https://api.pakyaaa.online